@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif !important;
  background: #FBFBFB;
  text-align: center;
  
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif !important;
}
.wrapper{
  max-width: 1300px !important;
  margin: 0 auto;
  padding: 0 10px;
}
.login_style{
  position: relative;
  background: cornflowerblue;
  height: 100vh;
}
.login_card{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
}
.login_content{
  position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #00000017;
  opacity: 1;
}

.head_style{
  height: 60px;
  display: flex;
  align-items: center;
  align-content: center;
}
.header_content{
  width: 100%;
  float: left;
}

.footer {
  position: fixed !important;
  width: 100%  !important; 
  left: 0;
  bottom: 0;
  /* padding: 10px 0 !important; */
  height: 30px !important;
  background: #2E2E2E 0% 0% no-repeat padding-box;

}
.footer_content{
  display: flex;
  align-items: center;
}
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
  text-align: left !important;
  font-size: 14px !important;
}
/* table{
  width: 100%;
  float: left;
  margin-top: 200px;
  border: 1px solid #bbb;
  border-radius: 5px;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
} */
